---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Andy Zou, Katie Sicking, Alec Cohen. All rights reserved.
	<div class="social-links">
		<a href="https://www.instagram.com/tootsiesvideovault/" target="_blank">
			<span class="sr-only">Follow Tootsies Video Vault on Instagram</span>
			<svg
			  xmlns="http://www.w3.org/2000/svg"
			  width="36"
			  height="36"
			  viewBox="0 0 24 24"
			  fill="none"
			  stroke="currentColor"
			  stroke-width="2"
			  stroke-linecap="round"
			  stroke-linejoin="round"
			  class="lucide lucide-instagram-icon lucide-instagram"
			  ><rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect><path
				d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line
				x1="17.5"
				x2="17.51"
				y1="6.5"
				y2="6.5"></line></svg
			>
		  </a>	
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		color: var(--gray);
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: var(--gray);
	}
	.social-links a:hover {
		color: var(--gray-dark);
	}
</style>
