---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Image } from "astro:assets";
import logo from "../assets/img/logo.JPG";
---

<header class="flex flex-col items-center justify-center bg-white">
  <Image src={logo} alt="Tootsies Video Vault Logo" class="w-50" />
  <nav class="flex flex-row items-center justify-center w-full">
    <!-- <h1 class="flex-1 text-center"><a href="#home">{SITE_TITLE}</a></h1> -->

    <!-- <div class="flex flex-col items-center justify-center mx-auto"> -->
      <!-- <div class="flex flex-row items-center justify-center gap-4"> -->
        <HeaderLink href="/#home">Home</HeaderLink>
		<HeaderLink href="/#how-it-works">How It Works</HeaderLink>
        <HeaderLink href="/#past-videos">Past Videos</HeaderLink>
        <HeaderLink href="/#photos">BTS Photos</HeaderLink>
        <HeaderLink href="/#next-show">Next Show</HeaderLink>
        <HeaderLink href="/#team">Who We Are</HeaderLink>
        <a href="https://www.instagram.com/tootsiesvideovault/" target="_blank">
          <span class="sr-only">Follow Tootsies Video Vault on Instagram</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-instagram-icon lucide-instagram"
            ><rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect><path
              d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line
              x1="17.5"
              x2="17.51"
              y1="6.5"
              y2="6.5"></line></svg
          >
        </a>
      <!-- </div>
    </div>
    <div class="flex justify-end flex-1"></div> -->
  </nav>
</header>
<style>
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
